<div data-config="">
    <div class="navbar navbar-light bg-light navbar-expand-sm">
        <form class="form-inline " onsubmit="filter(event);">
            <div class="form-group">
                <label for="slcColumns">Column:</label>
                <select id="slcColumns" name="slcColumns" class="form-control">
                  {% x for article in articles[0] %}
                      <option value="{{x}}">{{article}}</option>
                  {% endfor %}
                    
                </select>
                <input name="inpSearch" type="text" class="form-control" placeholder="Search">
                <button type="submit" class="btn btn-secondary">Filter</button>
                <button type="reset" class="btn btn-link" onclick="tf.clearFilters();">Clear</button>
            </div>
        </form>
    </div>
</div>
